body {
    font-family: 'Cabin', sans-serif;
    font-weight: lighter;
}

.pseudonav {
    background-image: url('../images/diningTable.jpg');

    /* Full height */
    height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.nav {
    background-color: rgba(0, 0, 0, 0.137);
    width: 100%;
}

.nav-link {
    color: white;
}

#logo-nav {
    height: 50px;
    /* position: relative; */
    float: left;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    padding-top: 175px;
}

.lead {
    font-size: 32px;
    margin: 20px 0;
}

#head2 {
    color: #339999;
}

#steps {
    font-weight: lighter;
}

.col1 {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    width: 200px;
}

.centeredBtn {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 200px;
    border: solid white 2px;
    background-color: #339999;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;

}

footer {
    padding: 40px;
    text-align: center;
    background-color: #339999;
    height: 350px;
}

.form-control {
    border-radius: 0;
    text-align: center;
    font-size: 20px;
    color: purple;
    width: 240px;
}

#logo-footer {
    height: 150px;
}

.icons {
    text-align: center;
    color: #339999;
    padding-bottom: 20px;
}

.review {
    margin-bottom: 50px;
}

p {
    font-size: 20px;
    color: black;
}

#subBtn {
    border-radius: 30px;
    font-size: 20px;
    width: 240px;
    /* padding: 3px 13px; */
    /* height: 40px; */
}

form {
    background-color: #339999;
}

.expert {
    background-image: url('../images/bedroom.jpg');
    height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 125px 120px 30px 150px;
}

.row1 {
    margin: 30px 0;
}

.instagram {
    text-align: center;
    margin-bottom: 90px;
}

.follow {
    margin-top: 30px;
    margin-bottom: 30px;
}

.footerLinks {
    font-size: 25px;
}

.nav-link {
    padding: 3px;
}

#onlineServiceBtn, #fullServiceBtn {
    background-color: #339999;
    color: white;
    border-radius: 20px;
    border: solid white 2px;
    font-size: 20px;
    padding: 10px 20px;
    width: 200px;
}

#onlineServiceBtn {
    margin-right: 100px;
}

#couch {
    width: 315px;
}

.subscribe {
    color: white;
    font-size: 23px;
}