body {
    font-family: 'Cabin', sans-serif;
    font-weight: lighter;
}

.pseudonav {
    background-image: url('../images/diningTable.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
    width: auto;
    color: white;
}

.nav {
    background-color: rgba(0, 0, 0, 0.137)
}

.nav-link {
    color: white;
}

#logo-nav {
    height: 50px;
    float: left;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

#head2 {
    color: #339999;
}

#steps {
    font-weight: lighter;
}

.col1 {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    width: 200px;
}

.centeredBtn {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    width: 200px;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #339999;
}

#logo-footer {
    height: 150px;
}

.icons {
    text-align: center;
    color: #339999;
}

.review {
    margin-bottom: 50px;
}

p {
    font-size: 20px;
    color: black;
}
